
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

.env
.env.local
.env.development
.env.production


dist/
build/
*.tsbuildinfo


frontend/node_modules/
frontend/dist/
frontend/.vite/


.vscode/
.idea/
.DS_Store
Thumbs.db


bcrypthash.js
sqlfirstadmin
